<% @articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, article %></h2>
    <small><%= article.publish_at ? l(article.publish_at, format: :long) : "Unpublished draft"%></small>
    <p><%= simple_format article.text %></p>
  </article>
  <br>
<% end %>

<br>

<%= link_to new_article_path do %>
  <b>New Article</b>
<% end %>
